In [1]:
import pandas as pd
df=pd.read_csv('./data/zomato.csv')
df.head()

,Unnamed: 0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,...,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,...,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,...,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,...,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,...,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [7]:

df.dropna(axis=0,how='any',inplace=True)
df.head()

,Unnamed: 0,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance
0,0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.280582
1,1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.242319
2,2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.787860
3,3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.930258
4,4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.396618

In [8]:
df.isnull().sum()

Unnamed: 0                     0
ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
distance                       0
dtype: int64

In [9]:
df.drop(columns=['ID','Delivery_person_ID','Order_Date','Time_Orderd','Time_Order_picked','Type_of_order','Type_of_vehicle','Festival'],inplace=True)
df.head()

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,multiple_deliveries,City,Time_taken (min),distance
0,0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,3.0,Metropolitian,46,10.280582
1,1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,1.0,Metropolitian,23,6.242319
2,2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,1.0,Metropolitian,21,13.787860
3,3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,0.0,Metropolitian,20,2.930258
4,4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,1.0,Metropolitian,41,19.396618

In [26]:
df=df.drop(columns="Unnamed: 0",axis=1)

In [27]:
df

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,multiple_deliveries,City,Time_taken (min),distance
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,3.0,Metropolitian,46,10.280582
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,1.0,Metropolitian,23,6.242319
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,1.0,Metropolitian,21,13.787860
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,0.0,Metropolitian,20,2.930258
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,1.0,Metropolitian,41,19.396618
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,Windy,High,1,0.0,Metropolitian,32,1.489846
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,Windy,Jam,0,1.0,Metropolitian,36,11.007735
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,Cloudy,Low,1,0.0,Metropolitian,16,4.657195
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,Cloudy,High,0,1.0,Metropolitian,26,6.232393
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,Fog,Medium,2,1.0,Metropolitian,36,12.074396

In [28]:
categorical_cols = ['Weather_conditions','Road_traffic_density','City']
numerical_cols = ['Delivery_person_Age','Delivery_person_Ratings','Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude',
                  'Delivery_location_longitude','Vehicle_condition']

In [29]:
categorical_cols

['Weather_conditions', 'Road_traffic_density', 'City']

In [30]:
numerical_cols

['Delivery_person_Age',
 'Delivery_person_Ratings',
 'Restaurant_latitude',
 'Restaurant_longitude',
 'Delivery_location_latitude',
 'Delivery_location_longitude',
 'Vehicle_condition']

In [31]:
X=df.drop('Time_taken (min)',axis=1)
y=df["Time_taken (min)"]

In [32]:
y

0        46
1        23
2        21
3        20
4        41
         ..
45579    32
45580    36
45581    16
45582    26
45583    36
Name: Time_taken (min), Length: 41359, dtype: int64

In [33]:
Weather_conditions_categories=["Fog","Stormy","Sandstorms","Windy","Cloudy","Sunny"]
Road_traffic_density_categories=['Jam','High','Medium','Low']
City_categories=['Metropolitian','Urban','Semi-Urban']

In [34]:
from sklearn.impute import SimpleImputer  # Handling Missing Values
from sklearn.impute import SimpleImputer  # Handling Missing Values
from sklearn.preprocessing import StandardScaler # Handling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Odinal Encoding
##PIPELINES
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [35]:
num_pipeline=Pipeline(
    steps=[
    ('imputer', SimpleImputer(strategy='median')),
     ('scaler',StandardScaler())
]
)

# Categorical Pipeline

cat_pipeline=Pipeline(
    steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[Weather_conditions_categories,Road_traffic_density_categories,City_categories])),
    ('scaler',StandardScaler())

    ]
)

preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
])

In [36]:
df.dtypes

Delivery_person_Age            float64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Weather_conditions              object
Road_traffic_density            object
Vehicle_condition                int64
multiple_deliveries            float64
City                            object
Time_taken (min)                 int64
distance                       float64
dtype: object

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [38]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [39]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [40]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [41]:
regression.coef_

array([ 2.47825125e+00, -2.48476202e+00, -1.40334856e+03,  2.86232749e+03,
        1.40357302e+03, -2.86231020e+03, -2.18504115e+00, -1.19884106e+00,
       -3.29991995e+00, -7.01373822e-01])

In [42]:
regression.intercept_

26.546951975093293

In [43]:
import numpy as np
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [44]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    
    #make prediction

    y_pred=model.predict(X_test)
    mae,rmse,r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 6.77566288476165
MAE: 5.415480861641713
R2 score 46.78717891354951
===================================


Lasso
Model Training Performance
RMSE: 7.368224303242467
MAE: 5.836983779959684
R2 score 37.07280404114079
===================================


Ridge
Model Training Performance
RMSE: 6.889708376286568
MAE: 5.481585295097245
R2 score 44.98078583690411
===================================


Elasticnet
Model Training Performance
RMSE: 7.474642538954294
MAE: 5.930279616739097
R2 score 35.24198024075012
===================================